.container{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    column-gap: 2%;
    margin: 5% 5%;
    padding: 3%;
    border:solid black 2px;
}
a{
    text-decoration: none;
    color: black;
}
.news{
    border: solid black 2px;
}
.big-news a{
    font-size: 30px;  
}
.big-img{
    height: 300px;
    width: 400px;
    object-fit: cover;
    object-position: 50% 50%;
    display:block;
}
.small-img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: 30% 40%;
}
.small-news a{
    font-size: 15px;
    border: solid black 2px;
}
.news-detail{
    display: flex;
}

/* Table */
.quote{
    width:100%;
    border-collapse: collapse;
}
.tb-heading{
    background-color: rgb(0, 140, 255);
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.quote, th, td{
    border: solid black 1px;
}
.col{
    text-align: left;
    font-weight: 300;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.odd{
    background-color: rgb(195, 193, 193);
}
.odd-sum{
    background-color: rgb(151, 151, 151);
}
.text-bold{
    font-weight: bold;
}
.col:hover{
    color: red;
    background-color: yellow;
}

/* table tbody tr:nth-child(odd) {
    background-color: #E1E1E1;
}

table tbody tr:nth-child(even) {
    background-color: white;
} */